.config{
  display: none;
}
.prf-img-inp{
  width: 250px;
  overflow-x: hidden;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.titulo-config{
  padding: 20px;
  display: inline;
  color: black;
}

a{
  color: black;
  transition: 0.5s ease;
}

a:hover{
  text-decoration: none;
}

.appconf{
  padding: 20px;
}
.negrita{
  font-weight: bold;
}

.notSeen{
  color: red;
  font-weight: bold;
}

.azureback{
  background-color: lightblue !important;
}

.yellowback{
  background-color: yellow !important;
}

.oscuro{
filter: invert(80%);
}
body.oscuro{
  background-color: #333;
  filter: invert(0%);
}

.logo-no-icon{
  width: 100px;
}

.flag{
  width: 25px !important;
}
#mapid { 
  height: 37vh;
  width: 90%;
  margin: 0px auto;
}
#lockMap { 
  height: 37vh;
  width: 27vw;
}
.cutText{
  word-wrap: break-word;
 
}
li{
  word-break: break-all;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.scroll{
  height:56vh !important; 
  overflow-y: scroll;
}